[core]
	editor = vim
	pager = less -+X -F
[user]
	name = han rodríguez
	email = han@gonzalpi.com
[alias]
	ln = log --oneline
	all = log --oneline --all --graph --decorate
	cm = commit -m
	amend = commit --amend
	noedit = commit --amend --no-edit
	pruno = remote prune origin
	cp = cherry-pick
	jalese = pull
	orale = push -f
