[core]
	editor = vim
	pager = less -+X -F
[user]
	name = han rodríguez
	email = hi@hanrodz.com
[alias]
	alias = config --global --get-regexp ^alias
	st = status -s -b
	ch = checkout
	chb = checkout -b
	cp = cherry-pick
	br = branch
	brd = branch -D
	brm = branch -m
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	ss = stash
	ssa = stash apply
	ssd = stash drop
	ssp = stash pop
	ssl = stash list
	d = diff
	dn = diff --name-only
	cm = commit -m
	amend = commit --amend
	noe = commit --amend --no-edit
	noedit = commit --amend --no-edit
	ln = log --oneline
	all = log --oneline --all --graph --decorate
	pruno = remote prune origin
	files = !f() { git diff HEAD HEAD~$1 --name-only; }; f
	orale = push -f
	alv = push -f
	jalese = pull
[init]
	defaultBranch = main
	autoSetupRemote = true
